{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href=""
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Gadjets</h1>
  <img src="{% static 'images/007.svg'%}" alt="A ball of string" />

<section class="card-container">
  {% for gadjet in gadjet_list %}
    <a href="{% url 'gadjets_detail' gadjet.id %}">
      <div class="card-content">
        <h2>{{ gadjet.name }}</h2>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}