{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/bonds/bond-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Bond List</h1>
</section>

<section class="card-container">
  {% for bond in bonds %}
    <div class="card">
      <a href="{% url 'bonds_detail' bond.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="" 
            alt=""
          >
        </div>
        <h2 class="card-title">{{ bond.movie }}</h2>
          <p>This movie came out in {{ bond.year }}</p>
        <p><small>{{ bond.description }}</small></p>
      </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}